html {
    font-size: 16px;

    body {
        margin: 0;

        select#layouts {
            font-size: 0.8125rem;
            width: 100%;
        }

        textarea#content {
            box-sizing: border-box;
            height: 8rem;
            resize: none;
            width: 100%;
        }

        .container {
            margin: 0 1rem;

            .row {
                margin: 1rem 0;
            }
        }
    }
}
