# Git files.
.gitattributes text eol=lf
.gitignore text eol=lf

# HTML files.
*.html text eol=lf

# JavaScript files.
*.js text eol=lf

# JSON files.
*.json text eol=lf

# Markdown files.
*.md text eol=lf

# Sass files.
*.scss text eol=lf

# TypeScript files.
*.ts text eol=lf

# YAML files.
*.yml text eol=lf
